includes:
    - ./vendor/neuecommerce/coding-standards/phpstan.neon

parameters:
    paths:
        - src/

    # The level 8 is the highest level
    level: 5

    parallel:
        processTimeout: 300.0
